@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Castoro:ital@1&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 255, 255), rgb(0, 89, 255));
    box-shadow: 0px 10px 20px 4px rgba(0, 89, 255, 0.616);
}
.header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header .container .box-container{
 
}
.photo-perfil{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px 2px white;
    border-radius: 50%;
    background-color: aqua;
    margin: auto;

}
.photo-perfil img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box-container .text{
    padding: 5px  ;
    text-align: center;
}
.container .box-container .text h1 {
    font-family: 'Carter One', cursive;
    font-size: 3em;
    padding: 12px 0;
    text-shadow: 4px 4px 7px black;
    color: white;
    
}
.container .box-container .text span{
    
    font-family: 'Carter One', cursive;
    
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px white;
}
.social-midia{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid white ;

}
.social-midia .tipo{
    
    
    align-items: center;
    display: flex;
    width: 31px;
    height: 31px;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
   
    
}
.social-midia .tipo a  i{
    color: rgb(255, 255, 255);
    font-size: 2.3em;
   
}

.social-midia .tipo:hover{
    background-color: white;
}
.social-midia .tipo a  i:hover{
    color: rgba(0, 140, 255, 0.918);
}

/* biography */
.biography{
    margin: 0;
    padding: 0;
}

.biography .container .box-container {
    display: grid;
   grid-template-columns: 662px 75px;
   grid-gap:20px ;
   margin-left: auto;
   margin-right: auto;
}

.biography .container  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}
.biography .container  .title h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    font-weight: normal;
}

.biography .container .box-container .list{
    margin: auto;
    height: 500px;
    
    padding: 70px 0;
}





.biography .container .box-container .list ul li{
   list-style: none;
   font-family: 'Roboto Mono', monospace;
   font-size: 1.2em;
   color: black;
   font-weight: bold;
   padding: 40px 10px;
}
.biography .container .box-container .list ul li span{
    font-family: 'Bebas Neue', sem serifa;
    font-size: 1.3;
    font-weight: normal;
    color: rgb(90, 83, 83);
    padding: 0 10px;
}

.biography .container .box-container .text-biography {
    text-align: left;
    width: 900px;
    
}

.biography .container .box-container .text-biography h3 {
    padding:0 40px;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7em;
}

.biography .container .box-container .text-biography h4{
    font-family: 'Bebas Neue', sem serifa;
    font-size: 1.2em;
    color: rgb(105, 98, 98);
    font-weight: normal;
    padding: 10px 40px;
    line-height: 30px;
}

.biography .container .box-container .text-biography h4 p {
    padding-top: 30px;
}

/* habilidades */
.Habilidades .container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
 .title{
    height: 150px;
    text-align: center;
    align-items: center;
    
    
}
 .title h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
    font-weight: normal;
}
.box-circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 10px 20px;
    
    
}
.box-circle .text-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 6;
    stroke: black;
    transform: translate(5px , 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:aqua ;
}
circle:nth-child(2){
    stroke-dashoffset: calc(440 - 352);
    stroke: black;
}
.box-circle .text-number h2{
    font-family: 'Carter One', cursive;
    font-size: 1.3em;
}

.java-script circle:nth-child(2){
    stroke-dashoffset: calc(440 - 308);
}
.box-circle .text-number span {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    font-weight: bold;
}


.projetos{
    margin-top: 50px;
}

.projetos .box-container .container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 310px));
    justify-content: center;
    gap: 25px;
}

.projetos .box-container .container .box{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
}
.projetos .box-container .container .box span{
    display: block;
    padding: 5px;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 15px;
    font-weight: bold;
    color: black;
    
}

.projetos .box-container .container .box:hover{
    border: 1px solid aqua;
}






@media only screen and (max-width: 600px){

    .header .container .box-container{
        position: absolute;
        top: 30%;
        left: 35%;
    }

    .container .box-container .text h1{
       
        font-size: 1.8em;
        padding: 10px 0;

    }

    .biography .container{
        overflow: hidden;
    }

    .biography .container .box-container{
        display: block;
    }
    
    .biography .container .box-container .list{
        margin: auto;
        height: 300px;
        
        padding: 35px 0;
    }
    .biography .container .box-container .list ul li{
        list-style: none;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.1em;
        
        padding: 25px 10px;
     }

     .biography .container .box-container .text-biography{
        text-align: center;
        width: 500px;
        

     }

     .biography .container .box-container .text-biography h3{
        margin-top: 10px;
     }

     .biography .container .box-container .text-biography h4{
        text-align: justify;
        font-size: 1.1em;
     }

     .biography .container .box-container .text-biography h4 p{
        padding: 10px 0;
     }
}
